@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&display=swap');
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');


:root {
    --accent-color:black;
    --text-decoretion:#afb0b0;
    --border-hr-color:#e3e3e5;
    --form-nav-color:#131313;
    --color-button:#00bce4;
    
    font-family: 'Arimo', sans-serif;
}


img {
    display: block;
    width: 100%;
}


.container {
    width: 100%;
    max-width: 1650px;
    margin: 0 auto;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, 
body, input, button, input {-webkit-appearance: none;-moz-appearance: none;appearance: none;}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}hr{
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    margin: 20px 0;
    background-color: var(--border-hr-color);
}

h1{
    
    color:var(--form-nav-color);
    text-decoration: none;
    font-size: 16px;
}

a{
    text-decoration: none;
}