.form{
    display: flex;
    justify-content: space-between;
}

.form__logo{
   width: 200px; 
    height: 45px;
}


.form_navigation_image{
width: 40px;
height: 40px;
color: brown;
margin: 0 10px;
}


.form__navigation{
    display: flex;
    justify-content: center;
    }
