.form{
    display: flex;
    justify-content: space-between;
}

.form__logo{
   width: 200px; 
    height: 45px;
}


.form_navigation_image{
width: 30px;
height: 30px;
margin-left: 12px;
}


.form__navigation{
    display: flex;
    justify-content: center;
    gap: 40px;
    
    }


.form__button{

}

.form__button-catigories{
    background:var(--color-button);
    
}

