.header{
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav{
    font-size: 25px;
    font-weight: 700;
}
.nav__link {
    color: var(--accent-color);
    text-decoration: none;
}

.nav__link:hover {
    color:var(--text-decoretion) ;
} 