.header{
    padding-top: 20px;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner{
display: flex;
justify-content: space-between;
align-items: center;
}


.header-navigetion{
    background-color:#f0f5f8 ;
    height: 55px;
   
}

.header-nav__menu-item{
    color: black;
    text-transform: uppercase;
}

.header-nav__menu{
    word-spacing: 30px;
    
}