input[type="checkbox"]{
	width: 0;
	height: 0;
	visibility: hidden;
}
label{
	width: 186px;
    height: 40px;
	transform: translate(-77%,-1%);
	background: var(--color-button);
	border-radius: 30px;
}
label div#nav{
	position: absolute;
	margin-left: 4px;
	top: 45px;
	width:179px; 
	background: var(--color-button-text);
	box-shadow: 2px 5px 5px 3px rgba(0,0,0,.4);
	opacity: 0;
	transition: 1s left;
}
a{
	color: var(--color-button-a-text);
	text-decoration: none;
	font-weight: 700;
}
label div#nav ul{
	margin: 0;
	padding: 0;
	
}
.fas,span{
	font-size: 15px;
    line-height: 30px;
    margin-left: 64px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 3px;
}
.fas{
	margin: 0 8px 0 -154px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

}
label div#nav ul li{
	text-align: center;
	width: 148px;
	list-style-type: none;
	padding: 15px;
	border-bottom: 1px solid #ff4c4c;
}
div#nav ul li:hover{
	background: #00112c;
}
input:checked + div#nav{
	left: 0;
	opacity: 1;
	transition: 1s opacity,
	            .3s left;
}